@model IEnumerable<string>
@{
    ViewData["Title"] = "Register";
}
<h1 style="text-align:left;">Novi korisnik:</h1>
<hr class="crta" style="margin:-10px 10px 30px;width:20%;">
<p>@ViewBag.Poruka</p>
<div class="row">
    <div class="col-md-4 col-lg-12 sredina">
        <form asp-action="Register">
            <div class="form-group">
                <label for="username">Username:</label><br />
                <input type="text" name="username" id="username" />
            </div>
            <div class="form-group" style="float:left;margin-right:40px">
                <label for="password">Lozinka:</label><br />
                <input type="password" name="password" id="password" />
            </div>
            <div class="form-group">
                <label for="password2">Ponovi lozinku:</label><br />
                <input type="password" name="password2" id="password2" />
            </div>
            <div class="form-group">
                <label for="ime">Ime:</label><br />
                <input type="text" name="ime" id="ime" />
            </div>
            <div class="form-group">
                <label for="dob">Dob:</label><br />
                <input type="number" name="dob" id="dob" />
            </div>
            <div class="form-group">
                <label for="mob">Mobitel:</label><br />
                <input type="text" name="mob" id="mob" />
            </div>
            <div class="form-group">
                <label for="omeni">O Meni:</label><br />
                <textarea name="omeni" id="omeni" cols="40" rows="2"></textarea>
            </div>
            <div class="form-group">
                <label for="studij">Studij:</label><br />
                <select style="width:200px;" name="studij" class="form-control" asp-items="ViewBag.Ids"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="cbp-vm-add" style="border:none;" />
            </div>
        </form>
    </div>
</div>

<style type="text/css">
    hr.crta {
        background: linear-gradient(to right,#fff,#cd171f,#fff);
        height: 3px;
        width: 30%;
        margin: 60px auto;
        margin-top: -20px;
    }
</style>

