@model IEnumerable<LjubavNaPmfu.Baza.Hobi>

@{
    ViewData["Title"] = "Kategorije";
}

<h1>Molim izaberite barem jednu kategoriju za nastavak</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                <a asp-action="Odaberi" asp-route-id="@item.IdH">Odaberi</a> 
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-controller="Hobiji" asp-action="Lista">Gotovo</a>
